@import "../../css-config/mixins.scss";

.WishListPage_Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 5vh 5vw;
    @include xsm{
        gap: 1.5rem;
    }
    .wishListedProductsHeading{
        font-size: 40px;
        @include lg{
            font-size: 35px;
        }
        @include md{
            font-size: 30px;
        }
        @include xsm{
            font-size: 18px;
        }
        
    }
    .loading_text{
        font-size: 20px;
        font-weight: 700;
    }
    .error_text{
        font-size: 20px;
        font-weight: 700;
    }
    .wishListedProducts_Container{
        width: 100%;
        padding: 0 2vw;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(17rem,17rem));
        grid-gap: 3rem;
        justify-content: center;
        @include lg{
            grid-template-columns: repeat(auto-fit, minmax(16rem,16rem));
            grid-gap: 2.5rem;
          }
          @include md{
            grid-template-columns: repeat(auto-fit, minmax(14rem,14rem));
          }
          @include sm{
            grid-template-columns: repeat(auto-fit, minmax(11rem,11rem));
            grid-gap: 1.5rem;
            padding: 0 0;
          }
          @include xsm{
            grid-template-columns: repeat(auto-fit, minmax(8rem,8rem));
            grid-gap: 1.5rem;
          }
        .noProducts_head{
            font-size: 20px;
        }
        .card_To_Product_Link{
            color: black;
            text-decoration: none;
       }

    }
}